<div class="row" style="margin-right:0">
  <div class="">
    <div class="x_panel" style="margin-bottom:0">
      <div class="x_content" style="min-height:800px">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="text-center pull-left" style="margin-bottom: 2em">
            <img src="/assets/images/logo.jpg" />
          </div>

          <div class="text-center noMargin">
            <strong style="font-size:2em">S.M.A.R.T GOAL / </strong>
            <strong style="font-size:1.5em"><em>MỤC TIÊU "THÔNG MINH CỦA CÁ NHÂN</em></strong>
          </div>
          <div class="text-center" style="margin-bottom:1em;">
            <strong style="font-size:1.5em">GENERAL GUIDELINES / <em>HƯỚNG DẪN CHUNG</em></strong>
          </div>
          <div class="clearfix"></div>

          <div [innerHTML]="guidelineContent">
          </div>
          <!-- <div>
            S.M.A.R.T. goals are components integrating into the annual performance appraisal, which are set for the coming year and
            are used for the mid-term review and year-end review.<br/>
            <em class="text-primary">Các mục tiêu THÔNG MINH là các thành tố hợp nhất với đánh giá hiệu quả công việc thường niên, được xây dựng cho năm tiếp theo, và được dùng cho đánh giá giữa kỳ và cuối kỳ.</em>
          </div>
          <div>&nbsp;</div>
          <div>
            S.M.A.R.T. goals must be "Specific, Measureable, Achieveable, Relevant and Timebound".<br/>
            <em class="text-primary">Các mục tiêu THÔNG MINH cần phải "Cụ thể - dễ hiểu, Định lượng được - Đo lường được, Khả thi - Có khả năng đạt được, Thực tế - Liên quan đến mục tiêu chung của bộ phận hoặc công ty, Đúng thời điểm - Có xác định rõ thời gian hoàn thành".</em>
          </div>
          <div>&nbsp;</div>
          <div>
            This S.M.A.R.T. Goal form contains compulsory Business goals and optional Personal goals for a personal development plan.<br/>
            <em class="text-primary">Biểu mẫu Mục tiêu THÔNG MINH này gồm các Mục tiêu Kinh doanh bắt buộc và Mục tiêu cá nhân tùy chọn cho kế hoạch phát triển cá nhân.</em>
          </div>
          <div>&nbsp;</div>
          <div>
            Associate and Line Manager jointly discuss and agree upon goal(s).<br/>
            <em class="text-primary">Nhân viên và Quản lý trực tiếp thảo luận để thống nhất mục tiêu.</em>
          </div>
          <div>&nbsp;</div>
          <h5><strong>1. Business S.M.A.R.T. Goal(s) / <em class="text-primary">Mục tiêu kinh doanh "THÔNG MINH"</em></strong></h5>
          <ul>
            <li>
              Goals must be aligned with the business plan of the company and the respective department and could be adjusted where necessary
              during the mid-term review.<br>
              <em class="text-primary paraem">Mục tiêu phải thống nhất với kế hoạch kinh doanh của công ty và của bộ phận tương ứng và có thể được điều chỉnh khi cần thiết trong kỳ đánh giá giữa kỳ.</em>
              <div>&nbsp;</div>
            </li>
            <li>
              The number of goal depends on the position as per organisation hiararchy and requirements of a specific function as follows:<br>
              <em class="text-primary paraem">Số lượng mục tiêu tùy thuộc vào vị trí theo cấp bậc tổ chức và yêu cầu của một vị trí chức năng cụ thể như sau:</em>
              <div>&nbsp;</div>
              <div>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="col-md-4 text-center">
                        Number of goals / <em class="text-primary">Số lượng mục tiêu</em>
                      </th>
                      <th class="col-md-8 text-center">
                        Employment level / <em class="text-primary">Cấp bậc nhân viên</em>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="text-center">
                        1
                      </th>
                      <td>
                        Rank and File associate / <em class="text-primary">Nhân viên</em>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-center">
                        2
                      </th>
                      <td>
                        Captain, Shift Leader, Supervisor / <em class="text-primary">Tổ trưởng, Trưởng ca, Giám sát</em>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-center">
                        3
                      </th>
                      <td>
                        Assistant Manager, Manager / <em class="text-primary">Trợ lý Quản lý, Quản lý</em>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-center">
                        4
                      </th>
                      <td>
                        Assistant Department Head and Above/ <em class="text-primary">Trợ lý, Trưởng bộ phận trở lên</em>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>
            <li>
              Indicate with check mark (X) in a box in column "Key Performance Area" to select 1 goal as a focus for a certain period from
              four areas: Finance (Profit), Customer (Customer Satisfaction), Internal Process (Quality of work), Employee
              (Employee Satisfaction, Learning and Growth)<br>
              <em class="text-primary paraem">Nêu bật bằng cách đánh dấu (X) vào 1 ô ở cột "Trọng tâm của mục tiêu" để chọn 1 mục tiêu là trọng tâm cho từng giai đoạn cụ thể từ bốn lĩnh vực: Tài chính (Lợi nhuận), Khách hàng (độ hài lòng của khách hàng), Quy trình nội bộ (phương pháp làm việc), Nhân viên (độ hài lòng của nhân viên, học hỏi và phát triển)</em>
              <div>&nbsp;</div>
            </li>
            <li>
              Possible indicator(s) for each area of the Key Performance Area:
              <ul>
                <li>
                  Finance: Targeted revenue; Situational selling; Payroll control; Optimizing operating expenses, etc.
                </li>
                <li>
                  Customer: Acquire new customers; Increase Repeated Customers; Guest Satisfaction Index; Guest Compliments, etc.
                </li>
                <li>
                  Operating process: Staff Compliance to SOP; Staff / Process Efficiency; Review SOP for Better Result; Implement New Ideas,
                  etc.
                </li>
                <li>
                  Employee: Staff Achieve Skill Standards; Staff Training Participation; Reduce Talent Turnover, etc.
                </li>
              </ul>
              <em class="text-primary paraem">Tiêu chí cho mỗi mảng của "Trọng tâm của mục tiêu"  có thể là:</em>
              <ul>
                <li>
                  <em class="text-primary paraem">Tài chính: Đóng góp về doanh số; Bán hàng theo dự án; Kiểm soát chi phí lương; Kiểm soát chi phí lương; Tối ưu hóa chi phí hoạt động, v,v,</em>
                </li>
                <li>
                  <em class="text-primary paraem">Khách hàng: Tìm kiếm khách hàng mới; Tăng lượng khách quen; Chỉ số hài lòng khách hàng; Guest Compliments, v,v,</em>
                </li>
                <li>
                  <em class="text-primary paraem">Quy trình hoạt động: Nhân viên tuân theo SOP; Hiệu quả nhân viên, quy trình; Cải tiến SOP để hiệu quả cao hơn; Triển khai các ý tưởng mới, v,v,</em>
                </li>
                <li>
                  <em class="text-primary paraem">Nhân viên: Nhân viên đạt yêu cầu kỹ năng; Nhân viên tham dự huấn luyện; Giảm tỉ lệ nhân viên nghỉ việc; v,v,</em>
                </li>
              </ul>
            </li>
          </ul>
          <h5><strong>2. Personal goals / <em class="text-primary">Mục tiêu cá nhân</em></strong></h5>
          <ul>
            <li>
              An optional personal goal with a development plan is recommended to an employee but not included in the scoring resutls.
              This could be relevant to the business requirements and company's strategies.<br/>
              <em class="text-primary paraem">Cá nhân nên có mục tiêu và kế hoạch phát triển cá nhân tùy chọn tuy không được tính điểm. Mục tiêu đó có thể tương thích với các yêu cầu kinh doanh và chiến lược của công ty.</em>
              <div>&nbsp;</div>
            </li>
          </ul>
          <h5><strong>3. Definition of ratings / <em class="text-primary">Cách đánh giá</em></strong></h5>
          <div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="col-md-2 text-center">
                    Level / <em class="text-primary">Cấp độ</em>
                  </th>
                  <th class="col-md-4 text-center">
                    Goal
                  </th>
                  <th class=" text-center">
                    <em class="text-primary">Mục tiêu</em>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>
                    5 - Exceptional<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em class="text-primary">Xuất sắc</em>
                  </th>
                  <td>
                    Significantly exceeds the Business Targets set forth - Above 110% <br/> Or completes extra job(s) in
                    an exceptional way.
                  </td>
                  <td>
                    <em class="text-primary">Hoàn thành vượt bậc các mục tiêu kinh doanh đã đặt ra - Trên 110%.<br/> 
                        Hoặc hoàn thành nhiệm vụ được giao thêm một cách hoàn hảo</em>
                  </td>
                </tr>
                <tr>
                  <th>
                    4 - Exceeds Expectations<br/>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em class="text-primary">Trên mức yêu cầu</em>
                  </th>
                  <td>
                    Exceeds Business Targets set forth - Above 100%<br/>Or completes extra job(s).
                  </td>
                  <td>
                    <em class="text-primary">Vượt các mục tiêu kinh doanh đã đặt ra - Trên 100%.<br/>
                    Hoặc hoàn thành nhiệm vụ được giao thêm.</em>
                  </td>
                </tr>
                <tr>
                  <th>
                    3 - Meets Expectations<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em class="text-primary">Đạt yêu cầu</em>
                  </th>
                  <td>
                    Achieves 100% Business Targets set forth.
                  </td>
                  <td>
                    <em class="text-primary">Đạt 100% các mục tiêu kinh doanh đã đặt ra.</em>
                  </td>
                </tr>
                <tr>
                  <th>
                    2 - Below Expectations<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em class="text-primary">Dưới mức yêu cầu</em>
                  </th>
                  <td>
                    Not achieves Business Targets set forth, but demonstrates efforts to pursue action steps set forth.
                  </td>
                  <td>
                    <em class="text-primary">Không đạt được các mục tiêu kinh doanh đã đặt ra, nhưng có nỗ lực trong việc thực hiện kế hoạch hành động đã thống nhất.</em>
                  </td>
                </tr>
                <tr>
                  <th>
                    1 - Unsatisfactory<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em class="text-primary">Không đạt yêu cầu</em>
                  </th>
                  <td>
                    Not achieves at all Business Targets set forth.
                  </td>
                  <td>
                    <em class="text-primary">Hoàn toàn không đạt được các mục tiêu kinh doanh đã đặt ra.</em>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</div>