<div class="row" style="margin-right:0">
  <div class="">
    <div class="x_panel" style="margin-bottom:0">
      <div class="x_content" style="min-height:800px">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="text-center pull-left" style="margin-bottom: 2em">
            <img src="/assets/images/logo.jpg" />
          </div>

          <h4 class="text-center noMargin" style="font-size:2em"><strong>PERFORMANCE APPRAISAL BRIEF</strong></h4>
          <h4 class="text-center" style="margin-bottom:1em; font-size:2em"><strong><em>HƯỚNG DẪN ĐÁNH GIÁ HIỆU QUẢ CÔNG VIỆC</em></strong></h4>
          <div class="clearfix"></div>

          <div [innerHTML]="guidelineContent">
          </div>
          <!--<h5><strong>I. Appraisal process - <em class="text-primary">Các bước tiến hành đánh giá</em></strong></h5>
          <h5><strong>Please follow these steps in preparing for and completing a Performance Appraisal Discussion:</strong></h5>
          <h5><strong><em class="text-primary">Xin vui lòng tuân theo các bước sau để chuẩn bị và hoàn thành buổi đánh giá hiệu quả công việc</em></strong></h5>
          <ol>
            <li>
              Appraisee prepares the Performance Appraisal Form:<br><em class="text-primary paraem">Người được đánh giá điền biểu mẫu đánh giá:</em>
              <ul>
                <li>
                  Ensures that the key information on the top of the form is correct.<br>
                  <em class="text-primary">Bảo đảm điền đúng những thông tin chủ yếu ở phần đầu của biểu mẫu.</em>
                </li>
                <li>
                  Reviews and score the achievement of business S.M.A.R.T goals if any.<br>
                  <em class="text-primary">Lược lại và cho điểm việc đạt được các mục tiêu SMART nếu có.</em>
                </li>
                <li>
                  Attaches the completed Business S.M.A.R.T goals document and records the S.M.A.R.T goals score in the Performance Appraisal
                  Form.
                  <br>
                  <em class="text-primary">Đính kèm bản Mục tiêu kinh doanh đã được điền đầy đủ và điền số điểm đánh giá việc hoàn thành mục tiêu trong biểu mẫu Đánh giá.</em>
                </li>
                <li>
                  For each competency, rates the level of demonstration in relation to appraisee specific job.<br>
                  <em class="text-primary">Đánh giá cho điểm mức độ thể hiện mỗi năng lực cá nhân trong việc thực hiện một công việc cụ thể của người được đánh giá.</em>
                </li>
                <li>
                  Fills in the "Appraisee's comment" comment box.<br>
                  <em class="text-primary">Điền vào ô "Nhận xét của người được đánh giá".</em>
                </li>
              </ul>
            </li>
            <li>
              Appraisee passes the form to the Appraisor<br>
              <em class="text-primary paraem">Người được đánh giá chuyển biểu mẫu lên người đánh giá</em>
            </li>
            <li>
              Appraisor assesses his/her own performance in supporting the Appraisee's performance development during the certain designed
              period
              <br>
              <em class="text-primary paraem">Người đánh giá đánh giá hiệu quả công việc của người được đánh giá trong một quá trình thực hiện công việc cụ thể</em>
            </li>
            <li>
              Appraisor prepares for the Performance Appraisal Discussion:<br>
              <em class="text-primary paraem">Người đánh giá chuẩn bị cho buổi đánh giá như sau:</em>
              <ul>
                <li>
                  Reviews all of the information written in by the Appraisee.<br>
                  <em class="text-primary">Lược lại tất cả các thông tin do người được đánh giá đã điền trong biểu mẫu.</em>
                </li>
                <li>
                  Notes on adjustment if any for discussion.<br>
                  <em class="text-primary">Ghi lại những điểm cần điều chỉnh nếu có để trao đổi trong buổi đánh giá.</em>
                </li>
                <li>
                  Fills in the "Appraisor's comment" comment box.<br>
                  <em class="text-primary">Điền vào ô "Nhận xét của người đánh giá".</em>
                </li>
              </ul>
            </li>
            <li>
              Appraisee and Appraisor meet to discuss about performance as well as Performance Appraisal Form and jointly discuss/agree/complete:<br>
              <em class="text-primary paraem">Người đánh giá và người được đánh giá thảo luận về hiệu quả công việc theo biểu mẫu đã điền để cùng hoàn tất/thống nhất biều mẫu này</em>
              <ul>
                <li>
                  The score reflects Business S.M.A.R.T goals achievement and competencies demonstration.<br>
                  <em class="text-primary">Điểm đánh giá thể hiện việc hoàn thành mục tiêu kinh doanh và thể hiện năng lực.</em>
                </li>
                <li>
                  The comments written by each person under comment box.<br>
                  <em class="text-primary">Ý kiến của mỗi người được điền trong ô nhận xét.</em>
                </li>
                <li>
                  The Development Plan for the Appraisee by agreeing up next S.M.A.R.T Goals including Action Steps and the targeted Completion
                  Date.
                  <br>
                  <em class="text-primary">Kế hoạch phát triển cá nhân của người được đánh giá được thống nhất bởi các mục tiêu kinh doanh trong giai đoạn tiếp theo, bao gồm các bước thực  hiện kế hoạch và ngày hoàn thành mục tiêu.</em>
                </li>
                <li>
                  Next career move - <em class="text-primary">Tiến triển sự nghiệp.</em>
                </li>
              </ul>
            </li>
            <li>
              The Appraisor finalises the form, obtains Appraisee's signature and provides the Appraisee with a copy of the form for his/her
              own record<br>
              <em class="text-primary paraem">Người đánh giá hoàn thiện biểu mẫu đánh giá, lấy chữ ký của người được đánh giá và trao cho người được đánh giá một bản để người được đánh giá tự lưu</em>
            </li>
            <li>
              The Appraisor passes the original form to Human Resources for further distribution and processing as appropriate.<br>
              <em class="text-primary paraem">Người đánh giá chuyển bản chính cho phòng Nhân sự nhằm thực hiện các quy trình phù hợp tiếp theo.</em>
            </li>
          </ol>
          <h5><strong>II. Definition of ratings - <em class="text-primary">Cách đánh giá:</em></strong></h5>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="col-md-2">
                  Level - <em class="text-primary">Cấp độ</em>
                </th>
                <th class="col-md-4">
                  Goal - <em class="text-primary">Mục tiêu</em>
                </th>
                <th>
                  Competencies - <em class="text-primary">Năng lực</em>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>
                  Exceptional (5)
                </th>
                <td>
                  Significantly exceeds the Business Targets set forth - Above 110%<br> Or completes extra job(s) in an exceptional
                  way.
                </td>
                <td>
                  Consistently meets and often exceeds relevant performance standards.<br> Provides leadership, fosters teamwork,
                  is highly productive, innovative and responsive. Generates top quality work.
                </td>
              </tr>
              <tr>
                <th>
                  <em class="text-primary">Xuất sắc (5)</em>
                </th>
                <td>
                  <em class="text-primary">Hoàn thành vượt bậc các mục tiêu kinh doanh đã đặt ra - Trên 110%.<br>
                    Hoặc hoàn thành nhiệm vụ được giao thêm một cách hoàn hảo</em>
                </td>
                <td>
                  <em class="text-primary">Hoàn thành một cách ổn định và thường xuyên vượt mức các tiêu chuẩn công việc. Thể hiện khả năng lãnh đạo, khả năng thúc đẩy tinh thần làm việc tập thể; luôn có năng suất cao, có sáng tạo và trách nhiệm trong công việc. Làm việc có chất lượng cao.</em>
                </td>
              </tr>
              <tr>
                <th>
                  Exceeds Expectations (4)
                </th>
                <td>
                  Exceeds Business Targets set forth - Above 100%<br> Or completes extra job(s).
                </td>
                <td>
                  Consistently meets and sometimes exceeds relevant performance standards. Shows initiative and versatility, works collaboratively,
                  has strong technical and interpersonal skills or has significant improved in these areas.
                </td>
              </tr>
              <tr>
                <th>
                  <em class="text-primary">Trên mức yêu cầu (4)</em>
                </th>
                <td>
                  <em class="text-primary">Vượt các mục tiêu kinh doanh đã đặt ra - Trên 100%.<br>
                  Hoặc hoàn thành nhiệm vụ được giao thêm.</em>
                </td>
                <td>
                  <em class="text-primary">Hoàn thành một cách ổn định và thỉnh thoảng vượt mức các tiêu chuẩn công việc Thể hiện sự sáng tạo và linh hoạt, làm việc với thái độ hợp tác, có chuyên môn và quan hệ tốt với đồng nghiệp hay có tiến bộ vượt bậc trong những lĩnh vực trên.</em>
                </td>
              </tr>
              <tr>
                <th>
                  Meets Expectations (3)
                </th>
                <td>
                  Achieves 100% Business Targets set forth.
                </td>
                <td>
                  Meets all relevant performance standards. Seldom exceeds or falls short of desired results.
                </td>
              </tr>
              <tr>
                <th>
                  <em class="text-primary">Đạt yêu cầu (3)</em>
                </th>
                <td>
                  <em class="text-primary">Đạt 100% các mục tiêu kinh doanh đã đặt ra.</em>
                </td>
                <td>
                  <em class="text-primary">Đạt yêu cầu tất cả các tiêu chuẩn công việc. Ít khi vượt quá hay không đạt được kết quả đề ra.</em>
                </td>
              </tr>
              <tr>
                <th>
                  Below Expectations (2)
                </th>
                <td>
                  Not achieves Business Targets set forth.
                </td>
                <td>
                  Sometimes meets the performance standards. Seldom exceeds and often fall short of desired results.
                </td>
              </tr>
              <tr>
                <th>
                  <em class="text-primary">Dưới mức yêu cầu (2)</em>
                </th>
                <td>
                  <em class="text-primary">Không đạt được các mục tiêu kinh doanh đã đặt ra.</em>
                </td>
                <td>
                  <em class="text-primary">Thỉnh thoảng đạt tiêu chuẩn công việc. Ít khi vượt mức yêu cầu và thường không đạt được kết quả đề ra.</em>
                </td>
              </tr>
              <tr>
                <th>
                  Unsatisfactory (1)
                </th>
                <td>
                  Not achieves at all Business Targets set forth.
                </td>
                <td>
                  Consistently falls short of performance standards. Performance has declined significantly, or associate has not sustained
                  adequate improvement as required since last performance appraisal.
                </td>
              </tr>
              <tr>
                <th>
                  <em class="text-primary">Không đạt yêu cầu(1)</em>
                </th>
                <td>
                  <em class="text-primary">Hoàn toàn không đạt được các mục tiêu kinh doanh đã đặt ra.</em>
                </td>
                <td>
                  <em class="text-primary">Thường xuyên không đạt yêu cầu công việc.Thành tích sút giảm đáng kể hay đã không đạt được tiến bộ cần thiết như cam kết từ lần đánh giá trước.</em>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-danger"><strong><u>Remark/ <em>Ghi chú</em></u></strong></div>
          <em>
            <table class="table table-striped">
                <tbody>
                  <tr>
                    <td>
                      <strong>For Officer, Executive / Dành cho nhân viên:</strong>
                      <ol type="a">
                        <li>General Competencies/  Năng lực thực thi công việc nói chung.</li>
                      </ol>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>For Section Manager, Assistant Manager / Dành cho quản lý cấp trung, trợ lý quản lý:</strong>
                      <ol type="a">
                        <li>General Competencies /  Năng lực thực thi công việc nói chung.</li>
                        <li>Supervisory Competency - Năng lực giám sát.</li>
                      </ol>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>For Manager/ HODs/ Dành cho Quản lý/ Trưởng bộ phận:</strong>
                      <ol type="a">
                        <li>General Competencies /  Năng lực thực thi công việc nói chung.</li>
                        <li>Supervisory Competency - Năng lực giám sát.</li>
                        <li>People Leadership / Năng lực lãnh đạo.</li>
                      </ol>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>
                        For ALL positions:  Part 2  -   Evaluation on Business S.M.A.R.T. Goal achievement<br>
                        <em class="text-primary">Dành cho TOÀN BỘ nhân viên: Phần 2 -  Đánh giá mức độ hoàn thành mục tiêu</em>
                    </strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </em>-->
        </div>
      </div>
    </div>
  </div>
</div>