<div class="x_content" style="min-height:800px">
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">
            Submit Date
          </th>
          <th>
            Employee ID
          </th>
          <th>
            Employee Name
          </th>
          <th>
            Position
          </th>
          <th class="text-center">
            Overall
          </th>
          <th>
            Status
          </th>
          <th>
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let goal of smartGoals">
          <td class="text-center">{{goal.SubmitDate | date:'dd/MM/yyyy'}}</td>
          <td>{{goal.AssociateId}}</td>
          <td>{{goal.AssociateName}}</td>
          <td>{{goal.AssociateTitle}}</td>
          <td class="text-center">{{goal.TotalScore | number: '1.0-2'}}</td>
          <td>{{goal.StatusName}}</td>
          <td>
            <button class="btn btn-primary" (click)="showApproveSmartGoalModal(goal.Id, goal.StatusId)"><i class="fa fa-check" ></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [totalItems]="totalRow"
      [(ngModel)]="pageIndex" [maxSize]="maxSize" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
      lastText="&raquo;"></pagination>
  </div>

  <!--Approve Smart Goal modal-->
  <div bsModal #approveSmartGoalModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg noMargin" style="width:100%">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" (click)='approveSmartGoalModal.hide()' aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">

          <div class="text-center" style="margin-bottom: 2em">
            <img src="/assets/images/logo.jpg" />
          </div>

          <h2 class="text-center noMargin" style="font-size:2em"><strong>S.M.A.R.T GOAL</strong></h2>
          <h2 class="text-center" style="margin-bottom:1em; font-size:2em"><strong><em>MỤC TIÊU "THÔNG MINH" CỦA CÁ NHÂN</em></strong></h2>
          <div class="clearfix"></div>
          <!-- Form -->
          <div class="animate form">
            <section class="login_content noPadding">
              <form class="noMargin" #approveSmartGoalForm="ngForm" novalidate (ngSubmit)="approveSmartGoal(approveSmartGoalForm.valid)"
                *ngIf='smartGoalApproval'>

                <!-- Left Column -->
                <div class="col-md-5 col-sm-12 col-xs-12">
                  <div class="item form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <label class="control-label  pull-right" for="associateName">Associate's Name - <em class="text-primary">Nhân viên:</em></label>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input id="associateName" class="form-control inputMargin" #associateName="ngModel" [(ngModel)]="smartGoalApproval.AssociateName"
                        name="associateName" type="text" required readonly />
                    </div>
                  </div>
                  <div class="item form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <label class="control-label  pull-right" for="associateTitle">Associate's Title - <em class="text-primary">Chức danh:</em></label>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input id="asscociateTitle" class="form-control inputMargin" #associateTitle="ngModel" [(ngModel)]="smartGoalApproval.AssociateTitle"
                        name="asscociateTitle" type="text" required readonly/>
                    </div>
                  </div>
                  <div class="item form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <label class="control-label  pull-right" for="reviewer">Reviewer - <em class="text-primary">Người đánh giá:</em></label>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input id="reviewer" class="form-control inputMargin" #reviewerr="ngModel" [(ngModel)]="smartGoalApproval.ReviewerName" name="reviewer"
                        type="text" required [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"
                      />
                    </div>
                  </div>
                  <div class="item form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <label class="control-label  pull-right" for="reviewerTitle">Reviewer Title - <em class="text-primary">Chức danh:</em></label>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input id="reviewerTitle" class="form-control inputMargin" #reviewerTitle="ngModel" [(ngModel)]="smartGoalApproval.ReviewerTitle"
                        name="reviewerTitle" type="text" required [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"
                      />
                    </div>
                  </div>
                </div>
                <!-- /Left Column -->

                <!-- Right Column -->
                <div class="col-md-7 col-sm-12 col-xs-12">
                  <div class="item form-group">
                    <div class="col-md-5 col-sm-5 col-xs-12">
                      <label class="control-label  pull-right" for="associateId">Associate ID - <em class="text-primary">Mã số nhân viên:</em></label>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                      <input id="asscociateId" class="form-control inputMargin" #associateId="ngModel" [(ngModel)]="smartGoalApproval.AssociateId"
                        name="asscociateId" type="text" required readonly />
                    </div>
                  </div>
                  <div class="item form-group">
                    <div class="col-md-5 col-sm-5 col-xs-12">
                      <label class="control-label  pull-right" for="department">Department - <em class="text-primary">Bộ phận:</em></label>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                      <input class="form-control inputMargin" [(ngModel)]="smartGoalApproval.DepartmentEnName" name="departmentEnName" type="text"
                        readonly required/>
                    </div>
                  </div>
                  <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="text-right noPadding"><label class="control-label">Goal set for period<br/><em class="text-primary">Mục tiêu cho giai đoạn:</em> </label></div>
                  </div>
                  <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="item form-group col-md-6 col-sm-6 col-xs-12 noPadding noMargin">
                      <div class="col-md-3 col-sm-3 col-xs-12 noPadding">
                        <label class="control-label  pull-right" for="from">From <em class="text-primary">Từ:</em></label>
                      </div>
                      <div class="col-md-9 col-sm-9 col-xs-12 inputMargin noPadding">
                        <input class="form-control" name="from" #from="ngModel" [(ngModel)]="smartGoalFrom" type="text" required readonly/>
                      </div>
                    </div>
                    <div class="item form-group col-md-6 col-sm-6 col-xs-12 noMargin noPadding">
                      <div class="col-md-3 col-sm-3 col-xs-12 noPadding">
                        <label class="control-label  pull-right" for="to">To <em class="text-primary">Đến:</em></label>
                      </div>
                      <div class="col-md-9 col-sm-9 col-xs-12 inputMargin noPadding">
                        <input class="form-control" name="to" #to="ngModel" [(ngModel)]="smartGoalTo" type="text" required readonly/>
                      </div>
                    </div>
                  </div>
                  <div class="item form-group">
                    <div class="col-md-5 col-sm-5 col-xs-12">
                      <label class="control-label  pull-right" for="temporaryDate">Date / <em class="text-primary">Ngày :</em></label>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                      <div class="col-md-6 col-sm-6 col-xs-12 inputMargin noPadding">
                        <my-date-picker name="temporaryDate" #temporaryDate="ngModel" [options]="myDatePickerOptions" [(ngModel)]="temporarydate"
                          required [disabled]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"></my-date-picker>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Right Column -->

                <!-- Table Part 1 -->
                <table class="table table-bordered noMargin tablePart1">
                  <thead>
                    <tr class="part">
                      <th colspan=6>
                        1. Business S.M.A.R.T. Goals/ Các Mục tiêu kinh doanh "THÔNG MINH"
                      </th>
                    </tr>
                    <tr>
                      <th class="abc col3">
                        No.of goal<br/>
                        <em>Thứ tự mục tiêu</em>
                      </th>
                      <th class="abc">
                        Key Performance Area<br/>
                        <em class="text-primary">Trọng tâm của mục tiêu</em>
                      </th>
                      <th class="abc noPadding" colspan="3" id="goalTableHeader">

                        <table class="table table-bordered noMargin noPadding">
                          <thead>
                            <tr id="goalContentTableHeader" style="height: 10em;">
                              <th class="abc">
                                S.M.A.R.T. GOAL (What) and Action Plan (How)<br/>
                                <em>MỤC TIÊU (Là gì) và Kế hoach Thực hiện (Như thế nào)</em>
                              </th>
                              <th class="abc col-md-2 col-sm-2 col-xs-2">
                                Completed date<br/>
                                <em class="text-primary">Thời gian hoàn thành</em>
                              </th>
                              <th class="abc col-md-2 col-sm-2 col-xs-2">
                                Measure indicator<br/>
                                <em class="text-primary">Chỉ tiêu đo lường</em>
                              </th>
                            </tr>
                          </thead>
                        </table>

                      </th>
                      <th class="abc">
                        Scoring for result<br/>
                        <em class="text-primary">Điểm số đánh giá Kết quả</em>
                      </th>
                    </tr>
                  </thead>
                  <tbody>

                    <!-- Goal 1 -->
                    <tr>
                      <td class="text-center" style="vertical-align: middle">
                        <strong>1</strong>
                      </td>
                      <td class="col-md-2 col-sm-2 col-xs-2">
                        <div>
                          <input hidden type="checkbox" [checked]="(!goal1Content.plan && goal1Contents.length == 0)? uncheckKeyPerformance('goal1'): ''"
                            *ngIf="smartGoalApproval.Goal1Customer || smartGoalApproval.Goal1Finance || smartGoalApproval.Goal1Employee || smartGoalApproval.Goal1Operating"
                          />
                          <label class="pull-left" style="cursor:pointer">
                      <input type="checkbox" [(ngModel)] = "smartGoalApproval.Goal1Customer" name="goal1Customer" [attr.disabled]="(currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S') || (!goal1Content.plan && goal1Contents.length == 0) || null"/> Customer / <em class="text-primary">Khách hàng</em>
                    </label>
                          <label class="pull-left" style="cursor:pointer">
                      <input type="checkbox" [(ngModel)] = "smartGoalApproval.Goal1Finance" name="goal1Finance" [attr.disabled]="(currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S') || (!goal1Content.plan && goal1Contents.length == 0) || null"/> Finance / <em class="text-primary">Tài chính</em>
                    </label>
                          <label class="pull-left" style="cursor:pointer">
                      <input type="checkbox" [(ngModel)] = "smartGoalApproval.Goal1Employee" name="goal1Employee" [attr.disabled]="(currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S') || (!goal1Content.plan && goal1Contents.length == 0) || null"/> Employee / <em class="text-primary">Nhân viên</em>
                    </label>
                          <label class="pull-left" style="cursor:pointer">
                      <input type="checkbox" [(ngModel)] = "smartGoalApproval.Goal1Operating" name="goal1Operating" [attr.disabled]="(currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S') || (!goal1Content.plan && goal1Contents.length == 0) || null"/> Operating Process / <br/>
                      <em class="text-primary marginLeft1">Quy trình hoạt động</em>
                    </label>
                        </div>
                      </td>
                      <td colspan="3" class="noPadding">

                        <table class="table table-bordered noMargin noPadding tableContent">
                          <tbody>
                            <tr *ngFor="let content of goal1Contents; let in=index">
                              <td>
                                <textarea autosize name="goal1ContentPlan-{{in}}" class="my-textarea" [(ngModel)]="content.plan" [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"
                                  (keyup)="!content.plan.trim()? removeContent('goal1', in):''"></textarea>
                              </td>
                              <td class="col-md-2 col-sm-2 col-xs-2">
                                <textarea autosize name="goal1ContentDate-{{in}}" class="my-textarea" [(ngModel)]="content.date" [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"></textarea>
                              </td>
                              <td class="col-md-2 col-sm-2 col-xs-2">
                                <textarea autosize name="goal1ContentMeasure-{{in}}" class="my-textarea" [(ngModel)]="content.measure" [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"></textarea>
                              </td>
                            </tr>
                            <tr *ngIf="!(currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S')">
                              <td>
                                <textarea autosize name="goal1ContentPlan" id="goal1ContentPlan" #goal1ContentPlan="ngModel" class="my-textarea" [(ngModel)]="goal1Content.plan"
                                  (keyup.shift.enter)="addContent('goal1')"></textarea>
                              </td>
                              <td class="col-md-2 col-sm-2 col-xs-2">
                                <textarea autosize name="goal1ContentDate" class="my-textarea" [(ngModel)]="goal1Content.date" [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"></textarea>
                              </td>
                              <td class="col-md-2 col-sm-2 col-xs-2">
                                <textarea autosize name="goal1ContentMeasure" class="my-textarea" [(ngModel)]="goal1Content.measure" (keyup.enter)="addContent('goal1')"
                                  [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"></textarea>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                      </td>
                      <td class="form-group">
                        <div class="radio col-md-2 col-sm2 col-xs-12 noMargin">
                          <input hidden type="radio" id="goal10" name="goal1" [checked]="!goal1Content.plan && goal1Contents.length == 0? uncheckGoal('goal1'):false"
                            *ngIf="smartGoalApproval.Goal1" />
                          <label class="text-left radioPadding" for="goal11">1</label>
                          <label>
                      <input type="radio" [value]="1" [(ngModel)]="smartGoalApproval.Goal1" (change)="generateTotalScore()" id="goal11" name="goal1" [attr.disabled]="true"/>
                    </label>
                        </div>
                        <div class="radio col-md-2 col-sm2 col-xs-12  noMargin">
                          <label class="text-left radioPadding" for="goal12">2</label>
                          <label>
                      <input type="radio" [value]="2" [(ngModel)]="smartGoalApproval.Goal1" (change)="generateTotalScore()" id="goal12" name="goal1" [attr.disabled]="true"/>
                    </label>
                        </div>
                        <div class="radio col-md-2 col-sm2 col-xs-12  noMargin">
                          <label class="text-left radioPadding" for="goal13">3</label>
                          <label>
                      <input type="radio" [value]="3" [(ngModel)]="smartGoalApproval.Goal1" (change)="generateTotalScore()" id="goal13" name="goal1" [attr.disabled]="true"/>
                    </label>
                        </div>
                        <div class="radio col-md-2 col-sm2 col-xs-12  noMargin">
                          <label class="text-left radioPadding" for="goal14">4</label>
                          <label>
                      <input type="radio" [value]="4" [(ngModel)]="smartGoalApproval.Goal1" (change)="generateTotalScore()" id="goal14" name="goal1" [attr.disabled]="true"/>
                    </label>
                        </div>
                        <div class="radio col-md-2 col-sm2 col-xs-12  noMargin">
                          <label class="text-left radioPadding" for="goal15">5</label>
                          <label>
                      <input type="radio" [value]="5" [(ngModel)]="smartGoalApproval.Goal1" (change)="generateTotalScore()" id="goal15" name="goal1" [attr.disabled]="true"/>
                    </label>
                        </div>
                      </td>
                    </tr>
                    <!-- /Goal 1 -->

                    <!-- Goal 2 -->
                    <tr>
                      <td class="text-center" style="vertical-align: middle">
                        <strong>2</strong>
                      </td>
                      <td class="col-md-2 col-sm-2 col-xs-2">
                        <input hidden type="checkbox" [checked]="(!goal2Content.plan && goal2Contents.length == 0)? uncheckKeyPerformance('goal2'): ''"
                          *ngIf="smartGoalApproval.Goal2Customer || smartGoalApproval.Goal2Finance || smartGoalApproval.Goal2Employee || smartGoalApproval.Goal2Internal"
                        />
                        <label class="pull-left" style="cursor:pointer">
                      <input type="checkbox" [(ngModel)] = "smartGoalApproval.Goal2Customer" name="goal2Customer" [attr.disabled]="(currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S') || (!goal2Content.plan && goal2Contents.length == 0) || null"/> Customer / <em class="text-primary">Khách hàng</em>
                    </label>
                        <label class="pull-left" style="cursor:pointer">
                      <input type="checkbox" [(ngModel)] = "smartGoalApproval.Goal2Finance" name="goal2Finance" [attr.disabled]="(currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S') || (!goal2Content.plan && goal2Contents.length == 0) || null"/> Finance / <em class="text-primary">Tài chính</em>
                    </label>
                        <label class="pull-left" style="cursor:pointer">
                      <input type="checkbox" [(ngModel)] = "smartGoalApproval.Goal2Employee" name="goal2Employee" [attr.disabled]="(currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S') || (!goal2Content.plan && goal2Contents.length == 0) || null"/> Employee / <em class="text-primary">Nhân viên</em>
                    </label>
                        <label class="pull-left" style="cursor:pointer">
                      <input type="checkbox" [(ngModel)] = "smartGoalApproval.Goal2Internal" name="goal2Internal" [attr.disabled]="(currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S') || (!goal2Content.plan && goal2Contents.length == 0) || null"/> Internal Process / <br/>
                      <em class="text-primary marginLeft1">Quy trình nội bộ</em>
                    </label>
                      </td>
                      <td colspan="3" class="noPadding">

                        <table class="table table-bordered noMargin noPadding tableContent">
                          <tbody>
                            <tr *ngFor="let content of goal2Contents; let in=index">
                              <td>
                                <textarea autosize name="goal2ContentPlan-{{in}}" class="my-textarea" [(ngModel)]="content.plan" [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"
                                  (keyup)="!content.plan.trim()? removeContent('goal2', in):''"></textarea>
                              </td>
                              <td class="col-md-2 col-sm-2 col-xs-2">
                                <textarea autosize name="goal2ContentDate-{{in}}" class="my-textarea" [(ngModel)]="content.date" [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"></textarea>
                              </td>
                              <td class="col-md-2 col-sm-2 col-xs-2">
                                <textarea autosize name="goal2ContentMeasure-{{in}}" class="my-textarea" [(ngModel)]="content.measure" [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"></textarea>
                              </td>
                            </tr>
                            <tr *ngIf="!(currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S')">
                              <td>
                                <textarea autosize name="goal2ContentPlan" id="goal2ContentPlan" #goal1ContentPlan="ngModel" class="my-textarea" [(ngModel)]="goal2Content.plan"
                                  (keyup.shift.enter)="addContent('goal2')"></textarea>
                              </td>
                              <td class="col-md-2 col-sm-2 col-xs-2">
                                <textarea autosize name="goal2ContentDate" class="my-textarea" [(ngModel)]="goal2Content.date"></textarea>
                              </td>
                              <td class="col-md-2 col-sm-2 col-xs-2">
                                <textarea autosize name="goal2ContentMeasure" class="my-textarea" [(ngModel)]="goal2Content.measure" (keyup.enter)="addContent('goal2')"></textarea>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                      </td>
                      <td class="form-group">
                        <div class="radio col-md-2 col-sm2 col-xs-12 noMargin">
                          <input hidden type="radio" id="goal20" name="goal2" [checked]="!goal2Content.plan && goal2Contents.length == 0? uncheckGoal('goal2'):false"
                            *ngIf="smartGoalApproval.Goal2" />
                          <label class="text-left radioPadding" for="goal21">1</label>
                          <label>
                      <input type="radio" [value]="1" [(ngModel)]="smartGoalApproval.Goal2" (change)="generateTotalScore()" id="goal21" name="goal2" [attr.disabled]="true"/>
                    </label>
                        </div>
                        <div class="radio col-md-2 col-sm2 col-xs-12  noMargin">
                          <label class="text-left radioPadding" for="goal22">2</label>
                          <label>
                      <input type="radio" [value]="2" [(ngModel)]="smartGoalApproval.Goal2" (change)="generateTotalScore()" id="goal22" name="goal2"  [attr.disabled]="true"/>
                    </label>
                        </div>
                        <div class="radio col-md-2 col-sm2 col-xs-12  noMargin">
                          <label class="text-left radioPadding" for="goal23">3</label>
                          <label>
                      <input type="radio" [value]="3" [(ngModel)]="smartGoalApproval.Goal2" (change)="generateTotalScore()" id="goal23" name="goal2"  [attr.disabled]="true"/>
                    </label>
                        </div>
                        <div class="radio col-md-2 col-sm2 col-xs-12  noMargin">
                          <label class="text-left radioPadding" for="goal24">4</label>
                          <label>
                      <input type="radio" [value]="4" [(ngModel)]="smartGoalApproval.Goal2" (change)="generateTotalScore()" id="goal24" name="goal2"  [attr.disabled]="true"/>
                    </label>
                        </div>
                        <div class="radio col-md-2 col-sm2 col-xs-12  noMargin">
                          <label class="text-left radioPadding" for="goal25">5</label>
                          <label>
                      <input type="radio" [value]="5" [(ngModel)]="smartGoalApproval.Goal2" (change)="generateTotalScore()" id="goal25" name="goal2"  [attr.disabled]="true"/>
                    </label>
                        </div>
                      </td>
                    </tr>
                    <!-- /Goal 2 -->

                    <!-- Goal 3 -->
                    <tr>
                      <td class="text-center" style="vertical-align: middle">
                        <strong>3</strong>
                      </td>
                      <td class="col-md-2 col-sm-2 col-xs-2">
                        <input hidden type="checkbox" [checked]="(!goal3Content.plan && goal3Contents.length == 0)? uncheckKeyPerformance('goal3'): ''"
                          *ngIf="smartGoalApproval.Goal3Customer || smartGoalApproval.Goal3Finance || smartGoalApproval.Goal3Employee || smartGoalApproval.Goal3Internal"
                        />
                        <label class="pull-left" style="cursor:pointer">
                      <input type="checkbox" [(ngModel)] = "smartGoalApproval.Goal3Customer" name="goal3Customer" [attr.disabled]="(currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S') || (!goal3Content.plan && goal3Contents.length == 0) || null"/> Customer / <em class="text-primary">Khách hàng</em>
                    </label>
                        <label class="pull-left" style="cursor:pointer">
                      <input type="checkbox" [(ngModel)] = "smartGoalApproval.Goal3Finance" name="goal3Finance" [attr.disabled]="(currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S') || (!goal3Content.plan && goal3Contents.length == 0) || null"/> Finance / <em class="text-primary">Tài chính</em>
                    </label>
                        <label class="pull-left" style="cursor:pointer">
                      <input type="checkbox" [(ngModel)] = "smartGoalApproval.Goal3Employee" name="goal3Employee" [attr.disabled]="(currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S') || (!goal3Content.plan && goal3Contents.length == 0) || null"/> Employee / <em class="text-primary">Nhân viên</em>
                    </label>
                        <label class="pull-left" style="cursor:pointer">
                      <input type="checkbox" [(ngModel)] = "smartGoalApproval.Goal3Internal" name="goal3Internal" [attr.disabled]="(currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S') || (!goal3Content.plan && goal3Contents.length == 0) || null"/> Internal Process / <br/>
                      <em class="text-primary marginLeft1">Quy trình nội bộ</em>
                    </label>
                      </td>
                      <td colspan="3" class="noPadding">

                        <table class="table table-bordered noMargin noPadding tableContent">
                          <tbody>
                            <tr *ngFor="let content of goal3Contents; let in=index">
                              <td>
                                <textarea autosize name="goal3ContentPlan-{{in}}" class="my-textarea" [(ngModel)]="content.plan" [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"
                                  (keyup)="!content.plan.trim()? removeContent('goal3', in):''"></textarea>
                              </td>
                              <td class="col-md-2 col-sm-2 col-xs-2">
                                <textarea autosize name="goal3ContentDate-{{in}}" class="my-textarea" [(ngModel)]="content.date" [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"></textarea>
                              </td>
                              <td class="col-md-2 col-sm-2 col-xs-2">
                                <textarea autosize name="goal3ContentMeasure-{{in}}" class="my-textarea" [(ngModel)]="content.measure" [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"></textarea>
                              </td>
                            </tr>
                            <tr *ngIf="!(currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S')">
                              <td>
                                <textarea autosize name="goal3ContentPlan" id="goal3ContentPlan" class="my-textarea" [(ngModel)]="goal3Content.plan" (keyup.shift.enter)="addContent('goal3')"></textarea>
                              </td>
                              <td class="col-md-2 col-sm-2 col-xs-2">
                                <textarea autosize name="goal3ContentDate" class="my-textarea" [(ngModel)]="goal3Content.date"></textarea>
                              </td>
                              <td class="col-md-2 col-sm-2 col-xs-2">
                                <textarea autosize name="goal3ContentMeasure" class="my-textarea" [(ngModel)]="goal3Content.measure" (keyup.enter)="addContent('goal3')"></textarea>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                      </td>
                      <td class="form-group">
                        <div class="radio col-md-2 col-sm2 col-xs-12 noMargin">
                          <input hidden type="radio" id="goal30" name="goal3" [checked]="!goal3Content.plan && goal3Contents.length == 0? uncheckGoal('goal3'):''"
                            *ngIf="smartGoalApproval.Goal3" />
                          <label class="text-left radioPadding" for="goal31">1</label>
                          <label>
                      <input type="radio" [value]="1" [(ngModel)]="smartGoalApproval.Goal3" (change)="generateTotalScore()" id="goal31" name="goal3" [attr.disabled]="true"/>
                    </label>
                        </div>
                        <div class="radio col-md-2 col-sm2 col-xs-12  noMargin">
                          <label class="text-left radioPadding" for="goal32">2</label>
                          <label>
                      <input type="radio" [value]="2" [(ngModel)]="smartGoalApproval.Goal3" (change)="generateTotalScore()" id="goal32" name="goal3" [attr.disabled]="true"/>
                    </label>
                        </div>
                        <div class="radio col-md-2 col-sm2 col-xs-12  noMargin">
                          <label class="text-left radioPadding" for="goal33">3</label>
                          <label>
                      <input type="radio" [value]="3" [(ngModel)]="smartGoalApproval.Goal3" (change)="generateTotalScore()" id="goal33" name="goal3" [attr.disabled]="true"/>
                    </label>
                        </div>
                        <div class="radio col-md-2 col-sm2 col-xs-12  noMargin">
                          <label class="text-left radioPadding" for="goal34">4</label>
                          <label>
                      <input type="radio" [value]="4" [(ngModel)]="smartGoalApproval.Goal3" (change)="generateTotalScore()" id="goal34" name="goal3" [attr.disabled]="true"/>
                    </label>
                        </div>
                        <div class="radio col-md-2 col-sm2 col-xs-12  noMargin">
                          <label class="text-left radioPadding" for="goal35">5</label>
                          <label>
                      <input type="radio" [value]="5" [(ngModel)]="smartGoalApproval.Goal3" (change)="generateTotalScore()" id="goal35" name="goal3" [attr.disabled]="true"/>
                    </label>
                        </div>
                      </td>
                    </tr>
                    <!-- /Goal 3 -->

                    <!-- Goal 4 -->
                    <tr>
                      <td class="text-center" style="vertical-align: middle">
                        <strong>4</strong>
                      </td>
                      <td class="col-md-2 col-sm-2 col-xs-2">
                        <input hidden type="checkbox" [checked]="(!goal4Content.plan && goal4Contents.length == 0)? uncheckKeyPerformance('goal4'): ''"
                          *ngIf="smartGoalApproval.Goal4Customer || smartGoalApproval.Goal4Finance || smartGoalApproval.Goal4Employee || smartGoalApproval.Goal4Internal"
                        />
                        <label class="pull-left" style="cursor:pointer">
                      <input type="checkbox" [(ngModel)] = "smartGoalApproval.Goal4Customer" name="goal4Customer" [attr.disabled]="(currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S') || (!goal4Content.plan && goal4Contents.length == 0) || null"/> Customer / <em class="text-primary">Khách hàng</em>
                    </label>
                        <label class="pull-left" style="cursor:pointer">
                      <input type="checkbox" [(ngModel)] = "smartGoalApproval.Goal4Finance" name="goal4Finance" [attr.disabled]="(currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S') || (!goal4Content.plan && goal4Contents.length == 0) || null"/> Finance / <em class="text-primary">Tài chính</em>
                    </label>
                        <label class="pull-left" style="cursor:pointer">
                      <input type="checkbox" [(ngModel)] = "smartGoalApproval.Goal4Employee" name="goal4Employee" [attr.disabled]="(currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S') || (!goal4Content.plan && goal4Contents.length == 0) || null"/> Employee / <em class="text-primary">Nhân viên</em>
                    </label>
                        <label class="pull-left" style="cursor:pointer">
                      <input type="checkbox" [(ngModel)] = "smartGoalApproval.Goal4Internal" name="goal4Internal" [attr.disabled]="(currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S') || (!goal4Content.plan && goal4Contents.length == 0) || null"/> Internal Process / <br/>
                      <em class="text-primary marginLeft1">Quy trình nội bộ</em>
                    </label>
                      </td>
                      <td colspan="3" class="noPadding">

                        <table class="table table-bordered noMargin noPadding tableContent">
                          <tbody>
                            <tr *ngFor="let content of goal4Contents; let in=index">
                              <td>
                                <textarea autosize name="goal4ContentPlan-{{in}}" class="my-textarea" [(ngModel)]="content.plan" [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"
                                  (keyup)="!content.plan.trim()? removeContent('goal4', in):''"></textarea>
                              </td>
                              <td class="col-md-2 col-sm-2 col-xs-2">
                                <textarea autosize name="goal4ContentDate-{{in}}" class="my-textarea" [(ngModel)]="content.date" [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"></textarea>
                              </td>
                              <td class="col-md-2 col-sm-2 col-xs-2">
                                <textarea autosize name="goal4ContentMeasure-{{in}}" class="my-textarea" [(ngModel)]="content.measure" [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"></textarea>
                              </td>
                            </tr>
                            <tr *ngIf="!(currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S')">
                              <td>
                                <textarea autosize name="goal4ContentPlan" id="goal4ContentPlan" class="my-textarea" [(ngModel)]="goal4Content.plan" (keyup.shift.enter)="addContent('goal4')"></textarea>
                              </td>
                              <td class="col-md-2 col-sm-2 col-xs-2">
                                <textarea autosize name="goal4ContentDate" class="my-textarea" [(ngModel)]="goal4Content.date"></textarea>
                              </td>
                              <td class="col-md-2 col-sm-2 col-xs-2">
                                <textarea autosize name="goal4ContentMeasure" class="my-textarea" [(ngModel)]="goal4Content.measure" (keyup.enter)="addContent('goal4')"></textarea>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                      </td>
                      <td class="form-group">
                        <div class="radio col-md-2 col-sm2 col-xs-12 noMargin">
                          <input hidden type="radio" id="goal40" name="goal4" [checked]="!goal4Content.plan && goal4Contents.length == 0? uncheckGoal('goal4'):false"
                            *ngIf="smartGoalApproval.Goal4" />
                          <label class="text-left radioPadding" for="goal41">1</label>
                          <label>
                      <input type="radio" [value]="1" [(ngModel)]="smartGoalApproval.Goal4" (change)="generateTotalScore()" id="goal41" name="goal4" [attr.disabled]="true"/>
                    </label>
                        </div>
                        <div class="radio col-md-2 col-sm2 col-xs-12  noMargin">
                          <label class="text-left radioPadding" for="goal42">2</label>
                          <label>
                      <input type="radio" [value]="2" [(ngModel)]="smartGoalApproval.Goal4" (change)="generateTotalScore()" id="goal42" name="goal4" [attr.disabled]="true"/>
                    </label>
                        </div>
                        <div class="radio col-md-2 col-sm2 col-xs-12  noMargin">
                          <label class="text-left radioPadding" for="goal43">3</label>
                          <label>
                      <input type="radio" [value]="3" [(ngModel)]="smartGoalApproval.Goal4" (change)="generateTotalScore()" id="goal43" name="goal4" [attr.disabled]="true"/>
                    </label>
                        </div>
                        <div class="radio col-md-2 col-sm2 col-xs-12  noMargin">
                          <label class="text-left radioPadding" for="goal44">4</label>
                          <label>
                      <input type="radio" [value]="4" [(ngModel)]="smartGoalApproval.Goal4" (change)="generateTotalScore()" id="goal44" name="goal4" [attr.disabled]="true"/>
                    </label>
                        </div>
                        <div class="radio col-md-2 col-sm2 col-xs-12  noMargin">
                          <label class="text-left radioPadding" for="goal45">5</label>
                          <label>
                      <input type="radio" [value]="5" [(ngModel)]="smartGoalApproval.Goal4" (change)="generateTotalScore()" id="goal45" name="goal4" [attr.disabled]="true"/>
                    </label>
                        </div>
                      </td>
                    </tr>
                    <!-- /Goal 4 -->
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="5">
                        <div class="text-right text-warning"><strong>Total of scores / number of goals<br/><em class="text-primary">Tổng điểm = Tổng số điểm / Số lượng mục tiêu</em></strong></div>
                      </td>
                      <td class="total">
                        <h4 class="text-center">
                          <strong>{{smartGoalApproval.TotalScore | number: '1.0-2'}}</strong>
                        </h4>
                      </td>
                    </tr>
                  </tfoot>
                </table>
                <!-- /Table Part 1 -->

                <!--  Table Part 1ab -->
                <table class="table table-bordered noMargin tablePart1ab">
                  <thead>
                    <tr class="abc">
                      <th colspan="4">
                        a. Other business goals and contributions / <em style="color:darkblue">Các mục tiêu kinh doanh và đóng góp khác</em>
                      </th>
                    </tr>
                    <tr>
                      <th colspan=4>
                        <textarea autosize class="my-textarea" name="otherGoals" [(ngModel)]="smartGoalApproval.OtherGoals" [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"></textarea>
                      </th>
                    </tr>
                    <tr class="abc">
                      <th colspan=4>
                        b. Personal Development Plan / <em style="color:darkblue"> Kế hoạch phát triển cả nhân.</em><br/>                        (*) Recommended but not compulsory and not included in the performance scoring / <em style="color:darkblue">Khuyến khích, không bắt buộc và không được cộng vào điểm hiệu quả công việc.</em>
                      </th>
                    </tr>
                    <tr>
                      <th class="abc">
                        Personal Development Area<br/>
                        <em>Trọng tâm phát triển cá nhân</em>
                      </th>
                      <th class="noPadding" colspan="3">

                        <table class="table table-bordered noMargin noPadding">
                          <thead>
                            <tr>
                              <th class="abc">
                                S.M.A.R.T. GOAL (What) and Action Plan (How)<br/>
                                <em>MỤC TIÊU (Là gì) và Kế hoạch Thực hiện (Như thế nào)</em>
                              </th>
                              <th class="abc col-md-2 col-sm-2 col-xs-2">
                                Completed date<br/>
                                <em>Thời gian hoàn thành</em>
                              </th>
                              <th class="abc col-md-2 col-sm-2 col-xs-2">
                                Measure indicator<br/>
                                <em>Chỉ tiêu đo lường</em>
                              </th>
                            </tr>
                          </thead>
                        </table>

                      </th>
                    </tr>
                  </thead>
                  <tbody>

                    <!-- Personal Development -->
                    <tr>
                      <td>
                        <textarea autosize name="personalDevelopmentArea" [(ngModel)]="smartGoalApproval.PersonalDevelopmentArea" class="my-textarea"
                          (keyup)="!smartGoalApproval.PersonalDevelopmentArea.trim()? removePersonalDevelopment():''" [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"></textarea>
                      </td>
                      <td colspan="3" class="noPadding">

                        <table class="table table-bordered noMargin noPadding">
                          <tbody>
                            <tr *ngFor="let content of personalDevelopmentContents; let in=index">
                              <td>
                                <textarea autosize name="personalDevelopmentContentPlan-{{in}}" class="my-textarea" [(ngModel)]="content.plan" [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"
                                  (keyup)="!content.plan.trim()? removePersonalDevelopmentContent(in):''"></textarea>
                              </td>
                              <td class="col-md-2 col-sm-2 col-xs-2">
                                <textarea autosize name="personalDevelopmentContentDate-{{in}}" class="my-textarea" [(ngModel)]="content.date" [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"></textarea>
                              </td>
                              <td class="col-md-2 col-sm-2 col-xs-2">
                                <textarea autosize name="personalDevelopmentContentMeasure-{{in}}" class="my-textarea" [(ngModel)]="content.measure" [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"></textarea>
                              </td>
                            </tr>
                            <tr *ngIf="!(currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S')">
                              <td>
                                <textarea autosize name="personalDevelopmentContentPlan" id="personalDevelopmentContentPlan" [(ngModel)]="personalDevelopmentContent.plan"
                                  class="my-textarea" (keyup.shift.enter)="addPersonalDevelopmentContent()"></textarea>
                              </td>
                              <td class="col-md-2 col-sm-2 col-xs-2">
                                <textarea autosize name="personalDevelopmentContentDate" [(ngModel)]="personalDevelopmentContent.date" class="my-textarea"></textarea>
                              </td>
                              <td class="col-md-2 col-sm-2 col-xs-2">
                                <textarea autosize name="personalDevelopmentContentMeasure" [(ngModel)]="personalDevelopmentContent.measure" class="my-textarea"
                                  (keyup.enter)="addPersonalDevelopmentContent()"></textarea>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                      </td>
                    </tr>
                    <!-- /Personal Development -->

                  </tbody>
                </table>
                <!-- /Table Part 1ab -->

                <!-- Table Part 2 3 -->
                <table class="table table-bordered noMargin termTable">
                  <thead>
                    <tr class="part">
                      <th>
                        2. Midterm review comment or Goal adjustment (if any) / Đánh giá giữa kỳ thực hiện và Điêu chỉnh mục tiêu (nếu có):
                      </th>
                    </tr>
                    <tr>
                      <td>
                        <textarea autosize class="my-textarea" name="midtermReview" [(ngModel)]="smartGoalApproval.MidtermReview" [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"></textarea>
                      </td>
                    </tr>
                    <tr class="part">
                      <th>
                        3. Final review / Đánh giá cuối kỳ thực hiện
                      </th>
                    </tr>
                    <tr>
                      <td>
                        <textarea autosize class="my-textarea" name="finalReview" [(ngModel)]="smartGoalApproval.FinalReview" [readonly]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'"></textarea>
                      </td>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <td colspan="2">
                        <div class="text-left"><strong>Signature of acknowledgement and Date / <em class="text-primary">Chữ ký xác nhận nội dung và Ngày:</em></strong></div>
                      </td>
                    </tr>
                  </tfoot>
                </table>
                <!-- /Table Part 2 3 -->

                <!-- Table signature -->
                <table class="table table-bordered text-left" style="border:none !important; border-spacing: 0 !important; border-collapse: collapse !important">
                  <tbody>
                    <tr>
                      <td style="border: none">
                        GOAL SETTING
                      </td>
                      <td style="border: none"></td>
                      <td style="border: none">
                        MIDTERM REVIEW
                      </td>
                      <td style="border: none"></td>
                      <td style="border: none">
                        FINAL REVIEW
                      </td>
                      <td style="border: none"></td>
                    </tr>
                    <tr>
                      <td style="border: none">
                        Associate
                      </td>
                      <td style="border: none">
                        <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                      </td>
                      <td style="border: none">
                        Associate
                      </td>
                      <td style="border: none">
                        <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                      </td>
                      <td style="border: none">
                        Associate
                      </td>
                      <td style="border: none">
                        <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                      </td>
                    </tr>
                    <tr>
                      <td style="border: none">
                        Reviewer
                      </td>
                      <td style="border: none">
                        <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                      </td>
                      <td style="border: none">
                        Reviewer
                      </td>
                      <td style="border: none">
                        <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                      </td>
                      <td style="border: none">
                        Reviewer
                      </td>
                      <td style="border: none">
                        <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                      </td>
                    </tr>
                    <tr>
                      <td style="border: none">
                        Department Head
                      </td>
                      <td style="border: none">
                        <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                      </td>
                      <td style="border: none">
                        Department Head
                      </td>
                      <td style="border: none">
                        <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                      </td>
                      <td style="border: none">
                        Department Head
                      </td>
                      <td style="border: none">
                        <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                      </td>
                    </tr>
                    <tr>
                      <td style="border: none">
                        Director of HR
                      </td>
                      <td style="border: none">
                        <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                      </td>
                      <td style="border: none">
                        Director of HR
                      </td>
                      <td style="border: none">
                        <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                      </td>
                      <td style="border: none">
                        Director of HR
                      </td>
                      <td style="border: none">
                        <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- /Table signature -->

                <div class="item form-group">
                  <div class="col-md-5 col-sm-5 col-xs-12">
                    <label class="control-label  pull-right" for="category">Category:</label>
                  </div>
                  <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="form-control inputMargin" [(ngModel)]="smartGoalApproval.CategoryId" name="categoryId" required [disabled]="currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'">
                        <option *ngFor="let category of categoryList" [ngValue]="category.Value">{{category.Text}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div>
                  <!-- <button type="button" [disabled]="!approveSmartGoalForm.valid || !goalIsValid()" (click)="exportExcel(approveSmartGoalForm.valid)"
                    class="btn btn-primary">Export Excel</button> -->
                  <button type="button" [disabled]="!approveSmartGoalForm.valid || !goalIsValid() || saveGoalLoading==true" (click)="exportExcel(approveSmartGoalForm.valid)"
                    class="btn btn-primary">Export Excel</button>
                  <button type="submit" [disabled]="!approveSmartGoalForm.valid || !goalIsValid() || approveLoading==true" (click)="smartGoalApproval.StatusId = underfined"
                    class="btn btn-primary">{{currentUser.roles.includes('HRExecutive') && smartGoalApproval.StatusId!='S'? 'Confirm': 'Approve'}}</button>
                  <button type="submit" [disabled]="!approveSmartGoalForm.valid || !goalIsValid() || approveLoading==true" (click)="smartGoalApproval.statusId = 'V'"
                    class="btn btn-danger">Reject</button>
                  <button (click)='approveSmartGoalModal.hide()' [disabled]="approveLoading==true" class="btn btn-info" type="button">Cancel</button>
                  <img *ngIf="approveLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                  />
                </div>
              </form>
            </section>
          </div>
          <!-- /Form -->

        </div>
      </div>
    </div>
  </div>
</div>