.noPadding{
    padding: 0 !important;
}

.noMargin{
    margin: 0 !important;
}

.titlePadding{
    padding-right: 2em !important;
}

.inputMargin{
    margin: -0.5em 0 1em 0 !important;
}

.part {
    background-color:brown !important; 
    color: white !important;
}

.abc {
    background-color: #26B99A;
    color: white;
}

.radioPadding{
    padding-left: 2px !important;
}

.total {width: 15%;}


.bottomMargin1 {
    margin-bottom: 1em !important;
}

.bottomMargin2{
    margin-bottom: 2em !important;
}
.bottomPadding4{
    padding-bottom: 4em !important;
    /* position: relative; */
}

.col15{
    width: 15% !important;
}
.recommend input[type='radio']:after{
    width: 1.7em !important;
    height: 1.7em !important;
    background-color:#d1d3d1 !important;
    content: '';
    visibility: visible;
    display: inline-block;
    border: 2px solid orange;
}

.recommend input[type='radio']:checked:after{
    width: 1.7em !important;
    height: 1.7em !important;
    background-color:  gold !important;
    content: '';
    visibility: visible;
    display: inline-block;
    border: 2px solid orange;
}

.recommend label{
    padding-left: 3em !important;
    height: 2em !important;
    text-align: center;
}

.recommend label span{
    padding-left: 1em !important;
    padding-top: 0.5em !important;
    position: absolute;
}

th:first-child { width: 15% ;}

tfoot {
    background-color: azure !important;
}

td {text-align: left !important;}

td:nth-child(3){
    width: 15% !important;
}

textarea {
    width: 100% !important;
}

button {
    margin-left: 2em !important; 
}