<div>
  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form name="changePasswordForm" (ngSubmit)="f.form.valid && changePassword(f.valid)" #f="ngForm" novalidate>
          <h1>Change Password</h1>
          <div [ngClass]="{'has-error':f.submitted && !oldPassword.valid}" *ngIf= "!currentUser.roles.includes('NewUser')">
            <input type="password" class="form-control" name="oldPassword" [(ngModel)]="model.oldPassword" placeholder="Old Password"
              #oldPassword="ngModel" autofocus required/>
            <div *ngIf="f.submitted && !oldPassword.valid" class="help-block text-left">Need old password.</div>
          </div>
          <div [ngClass]="{'has-error':f.submitted && !newPassword.valid}">
            <input type="password" class="form-control" name="newPassword" [(ngModel)]="model.newPassword" [autofocus]="currentUser.roles.includes('NewUser')" placeholder="New Password"
              #newPassword="ngModel" required />
            <div *ngIf="f.submitted && !newPassword.valid" class="help-block text-left">Need new password.</div>
          </div>
          <div [ngClass]="{ 'has-error' :f.submitted && !confirmPassword.valid}">
            <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword" placeholder="Confirm New Password"
              #confirmPassword="ngModel" required/>
            <div *ngIf="f.submitted && !confirmPassword.valid" class="help-block text-left">Need confirm password.</div>
            <div *ngIf="f.submitted && newPassword.value != confirmPassword && confirmPassword.pristine" class="help-block text-left">Passwords don't match.</div>
          </div>
          <div>
            <button [disabled]="loading" type="submit" class="btn btn-primary submit">Change Password</button>
            <button [disabled]="loading" type="button"  routerLink="/main" class="btn btn-info submit" *ngIf="!currentUser.roles.includes('NewUser')">Cancel</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
            />
          </div>
          <div class="clearfix"></div>
          <div class="separator">
            <div class="clearfix"></div>
            <br />
            <div>
              <h1><i class="fa fa-paw"></i> E-Appraisal!</h1>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>