.noPadding{
    padding: 0 !important;
}

.noMargin{
    margin: 0 !important;
}

.inputMargin{
    margin: -0.5em 0 1em 0 !important;
}

.part {
    background-color:brown !important; 
    color: white !important;
}

.abc{
    background-color: #26B99A;
    color: white;
    text-align: center;
}

th {
    vertical-align: text-top !important;
}

th em{
    color: darkblue;
}

.radioPadding{
    padding-left: 2px !important;
}

tfoot {
    background-color: azure !important;
}

.tablePart1 td:nth-child(4){
    text-align: left !important;
    vertical-align: middle; 
    width: 15% !important;
}

.tablePart1 td:nth-child(2), .tablePart1 td:nth-child(3),.tablePart1ab td, .tableContent td{
    text-align: left !important;
    vertical-align: middle;
}

.bottomMargin05 {
    margin-bottom: 0.5em !important;
}

textarea {
    width: 100% !important;
    border: none;
}

.col3{
    width: 3%;
}