<table class="table table-bordered">
  <thead>
    <tr>
      <th>
        Create Date
      </th>
      <th>
        Submit Date
      </th>
      <th>
        Category
      </th>
      <th>
        Overall
      </th>
      <th>
        Status
      </th>
      <th>
        Action
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let appraisal of appraisals">
      <td>{{appraisal.CreateDate | date:'dd/MM/yyyy'}}</td>
      <td>{{appraisal.SubmitDate | date:'dd/MM/yyyy'}}</td>
      <td>{{appraisal.CategoryName}}</td>
      <td>{{appraisal.Conclusion | number: '1.0-2'}}</td>
      <td>{{appraisal.StatusName}}</td>
      <td>
        <button class="btn btn-primary" *ngIf="appraisal.StatusId == 'N'"><i class="fa fa-pencil" ></i></button>
        <button class="btn btn-danger" *ngIf="appraisal.StatusId == 'N'" (click)="deleteAppraisal(appraisal.Id)"><i class="fa fa-trash" ></i></button>
        <button class="btn btn-primary" *ngIf="appraisal.StatusId != 'N'"><i class="fa fa-eye" ></i></button>
      </td>
    </tr>
  </tbody>
</table>
<pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [totalItems]="totalRow" [(ngModel)]="pageIndex"
  class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>