<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="padding-top:3px">
            <div class="x_title" style="padding-bottom:0">
                <div class="pull-right" >
                    <a class="btn btn-success" routerLink="/main/appraisal/self/index"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Your Appraisal</a>
                    <a class="btn btn-success" routerLink="/main/appraisal/approval/index"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Need Your Approval</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>